.cards{
  width: 280px;
  margin-bottom: 100px;
  align-self: center;
  justify-content: center;
  cursor: pointer;
}

.cards:hover{
   box-shadow: 0 5px 15px rgba(0,0,0,0.3);
   transition: 0.5s;
   border-radius: 5px;
}

h4{
  cursor: pointer;
}
